.container {
  background-color: #1e1e1e;
  height: 100%;
  padding: 20px;
}

.row {
  display: flex;
  align-items: flex-start;
}

.dailyUsage {
  flex-grow: 1;
}

.title {
  font-size: 0.9rem;
  font-weight: normal;
}

.data {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 10px;
}
